.topBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  flex: 0 1 70px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  /* background: white; */
  color: white;

  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Delius', sans-serif; */
  font-family: var(--teko);
  text-transform: uppercase;
  /* background: black; */
  z-index: 100;


  --width: min(900px, 100%);
  --sidePadding: calc(((100vw - var(--width)) / 2));
  padding-left: var(--sidePadding); 
  padding-right: var(--sidePadding);
}

.title {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;

  display: flex;
  height: 70px;
  align-items: center;

  padding: 0 20px;
  transform: translate(0px, 2px);
}

.menu, .connectionStatus {
  display: flex;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  cursor: pointer;
}

.connectionStatus {
  font-size: 1vh;
  transition: 0.6s;

  & i {
    /* transition: .2s; */
  }

  &[data-status="Connected"] {
    color: #8fc15a;
  }

  &[data-status="Disconnected"] {
    color: #f44336;
  }

  &[data-status="Connecting"], &[data-status="Reconnecting"] {
    color: #ff9800;
  }
}
