.wrapper {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  z-index: 1000;
}

.toast {
  padding: 0 20px;
  height: 32px;
  /* background-color: rgba(255,255,255,0.95);
  background-color: rgba(255, 120, 0, 1); */
  background: rgba(255, 155, 0, 1);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 12px;
  animation: slideIn 5s linear normal forwards;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes slideIn {
  0% {
    top: -37px;
    /* transform: translateY(calc(50px)); */
    opacity: 0;
    margin-top: 37px;
  }
  5% {
    top:0;
    margin-top: 0px;
    opacity: 1;
  }

  95% {
    margin-top: 0px;
    opacity: 1;
  }
  100% {
    margin-top: -37px;
    /* transform: translateY(calc(50px)); */
    /* margin-top: -500px; */
    opacity: 0;
    pointer-events: none;
  }
}
