.bottomOverlay {
  z-index: -1;
  display: flex;
  position: absolute;
  top: 0;

  padding: 20px;
  border-radius: 10px;
  background: #f7f7f7;
  width: 100%;
  left: 0;
  transform: translateY(-100%);

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
  /* transform: translateY(0); */
  opacity: 0;
  pointer-events: none;
  margin-top: 1px;

  &[data-is-open='true'] {
    transform: translateY(-100%);
    opacity: 1;
    pointer-events: all;
  }
}

.bottomOverlayBackground {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-top: -100vh;
  border-radius: 10px;
  transition: 0.3st;
  opacity: 0;
  pointer-events: none;

  &[data-is-open='true'] {
    opacity: 1;
    pointer-events: all;
  }
}

.title {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.4;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.listItem {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 100;
  justify-content: flex-start;
  width: 100%;

  & i {
    font-size: 12px;
    position: relative;
    top: -2px;
  }

  &[data-highlight] {
    &:nth-child(2n - 1) {
      background: white;
      padding: 5px 20px;
      margin: 0 -20px;

      width: calc(100% + 40px);
    }
  }
}

.score {
  background: black;
  color: orange;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  font-size: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.copy {
  /* background: black; */
  /* color: orange; */
  height: 40px;
  width: 40px;
  border-radius: 50%;

  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  transition: 0.1s;

  & i {
    font-size: inherit;
  }

  &:active {
    background: orange;
    color:white;
  }
}

.playerIcon {
  background: black;
  color: orange;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  font-size: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
}
