html,
body,
#__next {
  height: 100%;

  background: #fff;
  overflow: hidden;
  position: relative;
}

:root {
  --toastify-color-progress-dark: rgba(255, 120, 0, 1);
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.Toastify__progress-bar {
  height: 2px;
}
.Toastify__toast {
  background:  rgba(255, 255, 255, 0.96);
  color:black;
  border-radius: 100px;
  height: 30px;
  min-height: auto;
  margin:10px 20px;
  font-size: 14px;
  font-family: var(--teko);
  text-transform: uppercase;
  padding:0 20px;
}

input {
  user-select: text;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  /* background: linear-gradient(
    140deg,
    rgba(25, 31, 37, 1) 0%,
    rgba(11, 13, 15, 1) 100%
  ); */
  /* font-family: var(--oxygen-font); */

  font-family: var(--bebasNeue);
  font-family: var(--teko);
}

.darkScreen {
  flex: 1 1 auto;
  min-height: 100px;
  padding: 90px 20px 20px;

  background: linear-gradient(140deg, rgba(58, 58, 66, 1) 0%, rgba(11, 13, 15, 1) 100%);

  /* background-image: url('/img/b1.png');
  background-size: 200%;
  background-position: top right; */

  border-radius: 0 0px 10px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  text-align: center;

  border-radius: 100px;

  height: 60px;
  background: rgba(25, 31, 37, 1);
  padding: 0 50px;
  color: white;
  min-width: 200px;
  align-self: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.1s;
  cursor: pointer;
  line-height: 0.8;

  &[data-size='s'] {
    height: 50px;
    font-size: 2.5vh;
    min-width: 200px;
    padding-top: 2px;
    letter-spacing: 0.5px;
    font-weight: 100;
  }

  &[data-variant='orange'] {
    background: orange;

    background: linear-gradient(140deg, rgba(255, 195, 0, 1) 0%, rgba(255, 120, 0, 1) 100%);
    color: white;

    &:active {
      background: linear-gradient(140deg, rgba(255, 195, 0, 1) 0%, rgba(255, 120, 0, 1) 100%);
    }
  }

  &[data-variant='light'] {
    background: white;
    color: rgba(25, 31, 37, 1);

    &:active {
      background: hsl(215deg 11% 86%);
    }
  }

  &:active {
    background: hsl(210deg 19% 22%);

    transform: scale(0.95);
  }

  &[data-disabled='true'] {
    opacity: 0.3;
    pointer-events: none;
  }
}

.label {
  font-size: 2vh;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;

  border-radius: 100px;

  height: 60px;
  background: white;
  padding: 0 20px;
  color: white;
  min-width: 150px;
  /* text-transform: uppercase; */
  text-decoration: none;
  border: none;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.1);

  transition: 0.1s;

  &:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.2);
  }
}

.textOutput {
  display: flex;
  flex-direction: column;
  font-size: 3vh;
  margin-bottom: 20px;
  opacity: 0.6;
}

.shout {
  font-size: 4vh;
  font-weight: 500;
  /* text-transform: uppercase; */
  color: white;
  margin-bottom: 20px;
  opacity: 0.6;
  text-align: center;
  padding: 0 40px;
}

a {
  text-decoration: none;
  color: inherit;
}
