.votegame {
}

.playerList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 calc(25% - (60px / 4));
}

.playerName {
  font-size: 3vw;
  /* font-weight: bold; */
  margin-top: 1vh;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;

  & i {
    font-size: 1.5vh;
    line-height: 1;
    padding-bottom: 4px;
  }
}

.singlePlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 0 1 calc(50% - (60px / 4)); */
  margin-bottom: 20px;
  will-change: opacity transform;

  &[data-animate='true'] {
    transform: scale(0);
    animation: showPlayer 2s cubic-bezier(0.44, 1.37, 0.68, 0.92) forwards;
    /* animation-delay: 0.5s; */
  }

  & .player {
    flex: 1 1 calc(25% - (60px / 4));
    width: 50vw;
  }

  & .playerName {
    flex: 1 1 calc(25% - (60px / 4));
    font-size: 4vh;
  }

  & .playerImage {
    width: 50vw;
  }
}

.playerImage {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.2);
  flex: 1 1 auto;
}

.buttons {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: auto;
  justify-content: center;

  & :global(.button) {
    min-width: 0;
    padding: 0 20px;
  }
}

.userButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  height: 50px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.blurb {
  color: #bbb;
  padding: 20px 0;
  text-align: center;
}

@keyframes showPlayer {
  0% {
    transform: scale(0) rotate(-360deg);
    opacity: 0;
  }

  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
