.total {
  font-size: 60px;
  text-align: center;
  color: white;
  font-weight: 500;

}

.target {
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: 500;
}

.blurb {
  color: #bbb;
  padding: 20px 0;
  text-align: center;
}

.myScore {
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: 500;
}

.scoreGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 0 0;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  backdrop-filter: blur(5px);
}

.buttons {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boops {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.boopBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background: rgba(255, 255, 255, 0.2); */
  height: 70px;
  align-items: center;
  justify-content: center;
  /* border-radius: 5px; */
  position: relative;
  margin-bottom: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.boopMove {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  --delay: 0s;
  --speed: 0s;
  --color: pink;
  --y:0;
  opacity: 1;
  /* animation: boop calc(var(--speed) * 2) linear normal forwards;
  animation-delay: var(--delay); */
  /* pointer-events: none; */

  transform: translateY(calc(var(--y) * -1px));

  &[data-tapped='true'] {
    pointer-events: none !important;
    z-index: -1;
  }
}

.boop {
  width: 100%;
  height: 100%;
  opacity: 0.9;

  z-index: 2;

  background: white;

  /* border-radius: 5px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  /* animation: 0.3s ease-in-out shake infinite; */
  transition:4s all;

  &[data-tapped='true'] {
    pointer-events: none;

    & .inside {
      transform: scale(20.5);
    }
  }

  &[data-fail='true'] {
    & .inside {
      background: #333;
    }
  }

  &[data-success='true'] {
    animation: none;

    & .points {
      opacity: 1;
    }
  }
}

.inside {
  background: var(--color);

  transition: transform 0.2s ease-in-out;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.points {
  color: white;
  display: flex;
  position: absolute;
  font-size: 20px;
  opacity: 0;
  transition: transform 0.2s ease-in-out;
}

@keyframes boop {
  0% {
    pointer-events: all;
    opacity: 0;
    transform: translateY(-300px);
    z-index: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
    /* transform: scale(1) translateY(0px); */
  }
  100% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(300px);
    /* opacity: 0; */
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
